body {
    padding: 0px;
    margin: 0px;
  }
  
.firework {
    width: 10px;
    height: 10px;
    position: fixed;
    
}
  
.particle {
  width: 4px;
  height: 4px;
  position: fixed;
}

.container{
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: 'Montserrat', sans-serif;
}

#dateDisplay{
  font-size: 20px;
}

#haveAGood{
  font-size: 50px;
}

#todayIsTheDay{
  font-size: 50px;
}